.vscode
.DS_STORE
node_modules
.module-cache
*.log*
build
dist

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# cache-loader
**/.cache-loader/*

# idea stuff
.idea/**

/venv/
